:root {
    --dark-blue: #1d3557;
    --light-blue: #2a93fa;
    --orange: #fca311;
    --off-white: #f2f9ff;
    --cream: #f1f1e6;
  }

.header {
    background-color: var(--dark-blue);
    height: 150px;
    width: 100%;
    color: var(--orange);
    text-align: center;
    padding-bottom: 25px;
    border-radius: 3px;
    border-bottom: solid 5px var(--orange);
}

.headerimg {
    height: 80px;
    padding-top: 20px;
}