:root {
  --dark-blue: #1d3557;
  --light-blue: #2a93fa;
  --orange: #fca311;
  --off-white: #f2f9ff;
  --cream: #f1f1e6;
}

.App {
  font-family: "arial";
  background-color: var(--off-white);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

#main-container > * {
  flex-basis: calc(33.33% - 100px);
}

#footer {
  margin-top: auto;
  width: 100%;
}

