:root {
  --dark-blue: #1d3557;
  --light-blue: #2a93fa;
  --orange: #fca311;
  --off-white: #f2f9ff;
  --cream: #f1f1e6;
}

.inputform {
  display: flex;
  flex-direction: column;
  font-family: arial;
  background-color: var(--off-white);
  align-items: flex-start;
  border-style: solid;
  border-color: var(--dark-blue);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

textarea {
  font-family: Arial;
  color: #333;
  background-color: var(--off-white);
  width: 90%;
}

input {
  font-family: Arial;
  color: #333;
  background-color: var(--off-white);
  width: 90%;
}

select {
  background-color: var(--off-white);
  border-radius: 10px;
  width: 90%;
}

button {
  background-color: var(--dark-blue);
  color: var(--off-white);
}
